<div id="ocr-work-error-popup" class="emop-popup" title="OCR Error Information">
   <span id="err-batch-id" style="display:none"></span>
   <span id="err-work-id" style="display:none"></span>
   <div>
      Batch '<span id="error-batch"></span>', work <span id="error-work"></span> failed with the following errors:
   </div>
   <div id="work-error-messages">
   </div>
   <input type="button" id="reschedule-work" style="float: right;width:auto" value="Reschedule Work"/>
</div>