<div id="new-font-popup" class="emop-popup" title="Upload Font">
   <form id="font-upload-form" action="fonts/training_font" method="post" enctype="multipart/form-data">
      <label for="font-name">Name:</label>
      <input id="font-name" type="text" name="font-name"/>
      <input id="font-file" type="file" name="file"/>
   </form>
</div>