<div id="confirm-resubmit-popup" class="emop-popup" title="Resubmit Failed Jobs">
   <span id="resubmit-data" style="display:none"></span>
   <div style="margin:10px">
      These jobs have all failed their last submission. Would you like to reschedule using the prior batch, or create a new one?
   </div>
</div>