<div id="dim-overlay"></div>
<div id="wait-popup">
   <%= image_tag("loader.gif", :id=>"wait-spinner") %>
   <p id="wait-title" style="text-align: center;">
      Please Wait...
   </p>
   <p id="wait-msg" style="text-align: center;"></p>
</div>

