<div id="ocr-error-popup" class="emop-popup" title="OCR Error Information">
   <span id="err-batch-id" style="display:none"></span>
   <span id="err-page-id" style="display:none"></span>
   <div>
      Page <span id="error-page"></span> failed with the following message:
   </div>
   <div id="page-error-message"></div>
   <input type="button" id="reschedule-page" style="float: right;width:auto" value="Reschedule Page" />

</div>