<div id="ocr-view-popup" class="emop-popup" title="OCR Results">
   <div>
      <span id="result-type"></span> results for page number: <span id="ocr-page-num"></span>
   </div>
   <textarea id="ocr-text-display" readonly></textarea>  
   <span id="tgt-result-id" style="display:none"></span>
</div>