// Place all the styles related to the PageDetail controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "common";

a.dashboard-back {
   margin: 10px;
   font-size: .85em;
}

#results-summary {
   margin: 10px 0px 0 10px;
   font-size: 0.9em;
   font-weight: 200;

   .summary-label {
      text-align: right;
      padding-right: 5px;
      font-weight: 500;
      width: 65px;
   }
}

#results-detail {
   padding:10px;
   
   .juxta-link {
      height:16px;
      width:32px;
      background-image: image-url("sbs.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      cursor: pointer;
   }
   .disabled {
      background-position: 0 -16px !important;
      cursor: default !important;
   }
   
   #pages-table {
      font-size: 0.9em;
      border-spacing: 1px;
      background-color: #999;
      margin: 10px 10px;
      width: 375px;
   }
   
   td {
      text-align: center;
      cursor: default;
   }
   
   th {
      background-color: #679;
      color: #ededed;
      border:none;
      text-align: center;
      font-weight: normal;
   }
   
   .page-view {
      height:16px;
      width:16px;
      background-image: image-url("tiff3.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      cursor: pointer;
   }
   .ocr-txt {
      height:16px;
      width:16px;
      background-image: image-url("txt.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      cursor: pointer;
   }
   .ocr-hocr {
      height:16px;
      width:16px;
      background-image: image-url("xml.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      cursor: pointer;
   }
}

#page-error-message {
   margin: 8px;
}

#ocr-text-display {
   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
   -moz-box-sizing: border-box;    /* Firefox, other Gecko */
   box-sizing: border-box;         /* Opera/IE 8+ */
   width: 100%;
   height: 90%;
   margin: 2% 0;
   outline: 0;
}
   